.pokedex_container{
    min-height: 100vh;
    height: 100%;
    padding: 50px;
    color: #fff;
    display: grid;
    grid-template-columns: 340px calc(588px - 340px) 1fr;
    grid-template-rows: repeat(2, max-content);
    row-gap: 100px;
    position: relative;
}

.pokedex_container i {
    position: absolute;
    right: 15px;
    top: 15px;
    width: min-content;
    height: min-content;
    cursor: pointer;
}

.pokedex_container svg {
    font-size: 3rem;
}