@keyframes loading-pokedex {
	0% {
		border-left-color: rgba(0, 0, 0, 0);
	}

	33% {
		border-top-color: rgba(0, 0, 0, 0);
	}

	66% {
		border-right-color: rgba(0, 0, 0, 0);
	}

	100% {
		border-bottom-color: rgba(0, 0, 0, 0);
	}
}

.pokedex_container {
	width: 100%;
	height: max-content;
	color: #fff;
	display: grid;
	grid-template-columns: 340px calc(588px - 340px) 1fr;
	grid-template-rows: repeat(3, max-content);
	row-gap: 50px;
	position: relative;
	transition: all 1s ease-in-out;
}

.pokedex_container > button {
	background-color: transparent;
	box-shadow: none;
	outline: none;
	border: none;

	grid-row: 3;
	width: max-content;
	height: max-content;
	align-self: center;
	transition: all .7s;
	cursor: pointer;
}

.pokedex_container > button:hover {
	transform: scale(1.1);
}
.pokedex_container svg {
	font-size: 3rem;
}

.pokedex_container.pokedex_loading i {
	display: none;
}

.pokedex_container.pokedex_loading {
	height: 100vh;
	position: relative;
}

.pokedex_container.pokedex_loading::after {
	font-size: 4rem;
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 10px solid rgba(1, 145, 176);
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	animation: loading-pokedex 2s alternate infinite;
	transition: all 1s ease-in-out;
}

@media (max-width: 1000px) {
	.pokedex_container {
		grid-template-columns: 240px 200px 1fr;
		grid-template-rows: repeat(4, max-content);
	}

	.pokedex_container > button {
		grid-row: 4;
	}
}

@media (max-width: 500px) {
	.pokedex_container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, max-content);
	}

	.pokedex_container > button {
		grid-row: 5;
	}
}
