@media (max-width: 1000px) {
	.pokedex_container {
		grid-template-columns: 240px 200px 1fr;
		grid-template-rows: repeat(4, max-content);
	}

	.pokedex_container .button_back {
		grid-row: 4;
	}
}

@media (max-width: 500px) {
	.pokedex_container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, max-content);
	}

	.pokedex_container .button_back {
		grid-row: 5;
	}
}
