@keyframes loading {
    0%{
        border-left-color: rgba(0, 0, 0, 0);
    }
    33%{
        border-top-color: rgba(0, 0, 0, 0);

    }
    66%{
        border-right-color: rgba(0, 0, 0, 0);

    }
    100%{
        border-bottom-color: rgba(0, 0, 0, 0);

    }
}

.pokemons_container {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    margin: auto;
    z-index: 0;
}

.pokemons_container::-webkit-scrollbar {
    background-color: transparent;
}

.pokemons_container li {
    width: 202px;
    height: 264px;
    margin: 10px;
    background-image: linear-gradient(360deg, rgba(1, 145, 176) 0%, rgba(1, 145, 176, 0) 40%);
    border-bottom: 2px solid #1DCD00;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemons_container img {
    transition: all .7s ease-in-out;
    width: 202px;
    height: 202px;
    opacity: 1;
}

.pokemons_container p {
    opacity: 1;
    color: rgb(185, 185, 185);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.144);
}

.pokemons_container span {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.pokemons_container .card_loading img,
.pokemons_container .card_loading p {
    opacity: 0;
}

.pokemons_container .card_loading::before{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid rgba(1, 145, 176);
    animation: loading .5s ease infinite;
}