@media (max-width: 1200px) {
	.pokemons_container {
		grid-template-columns: repeat(3, max-content);
	}
}

@media (max-width: 770px) {
	.pokemons_container li {
		width: 162px;
		height: 224px;
		margin: 1px;
	}

	.pokemons_container img {
		max-width: 162px;
		max-height: 162px;
		object-fit: contain;
	}
}

@media (max-width: 500px) {
	.pokemons_container li {
		width: 120px;
		height: 184px;
		padding: 0 0 2px 2px;
	}

	.pokemons_container img {
		max-width: 120px;
		max-height: 120px;
		margin-right: 2px;
	}

	.pokemons_container p,
	.pokemons_container span {
		font-size: .8rem;
	}
}
