.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*gap:220px;*/
    flex-wrap: wrap;
    margin: 0 auto;
    color: white;
    max-width: 1024px;
    padding: 150px 50px 50px 50px;
}
 
.card div {
    margin: 10px;
    cursor: pointer;
    width: 150px;
    height: 230px;
    border: 2px double rgba(209, 0, 0, 0.767);
    outline: 2px solid white;
    border-radius: 5px;
    background-image: url("../img/0135025fbfab1211013ee04d679120.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 20px 10px rgba(254, 254, 254, 0.361);
}

.card div:hover {
    transition: .5 step-end;
    box-shadow: 0 0 20px 10px rgba(254, 254, 254, 0.519);
}

.card div div,
.card div h3,
.card div .gif,
.card div h1,
.card div ul,
.card div p {
    display: none;
}

.card h1 {
    text-transform: capitalize;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(6, 6, 6);
    font-size: 1em;
    text-align: center;
}

.card span{
    font-weight: bolder;
    color: white;
}

.card img.png {
    margin-top: 40px;
    align-items: center;
    width: 100%;
    height: auto;
    transition: .5s ease-in-out;
}

section {
    padding: 50px;
    width: 968px;
    height: 568px;
    border-radius: 20px 0 20px 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/pokedex-open-dark.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 0 0 50px 10px rgba(41, 181, 209, 0);
}

.card  div.selected{ 
    cursor: auto;
    padding: 60px 40px 20px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 968px;
    height: 568px;
    display: grid;
    grid-template-columns: 338px 330px 200px;
    grid-template-rows: 60px 264px 50px 70px;
    box-shadow: none;
    z-index: 2;
    border-radius: 20px 0 20px 0;
    border: none;
    background: transparent;
    border: 10px ridge rgb(0, 0, 0);
    outline: 15px outset rgb(0, 150, 167);
    /*outline-offset: 5px ;*/
    background-color: rgba(1, 136, 185, 0.097);
    backdrop-filter: blur(10px);
}

.card div.selected div,
.card div.selected h3,
.card div.selected img.gif,
.card  div.selected  h1,
.card  div.selected  ul,
.card  div.selected  p {
    padding: 10px;
    font-weight: bolder;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
}

.card div.selected div{
    box-shadow: none;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    width: min-content;
    height: min-content;
    border: none;
    border-radius: 50%;
    position: fixed;
    top: 0px;
    right: 0px;
    border: none;
    outline: none;
    z-index: 2;
}

.card div.selected .h3_description {
    padding: 0;
    padding-left: 10px;
    align-items: self-end;
    color: rgb(0, 186, 59);
    grid-row-start: 1;
    grid-column-start: 1;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.375);
}

.card  div.selected  p {
    border-radius: 0 0 0 10px;
    text-align: justify;
    font-size: 1em;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 28px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    z-index: 1;
}

.card  div.selected  h1 {
    text-shadow: 1px 1px black;
    border: none;
    align-items: center;
    color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 2em;
}

.card  div.selected  h1 span {
    color: rgb(226, 0, 0);
    font-weight: bolder;
    margin-left: 10px;
}

.card div.selected img.png {
    margin: 0 auto;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 100%;
    height: auto;
}

.card div.selected .h3_evolution {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.575);
    padding: 0;
    grid-column-start: 1;
    grid-row-start: 4;
    align-items: start;
    color: rgb(0, 237, 0);
}

.card div.selected .evolution {
    grid-column-start: 1;
    grid-row-start: 4;
    gap: 10px;
    align-items: end;
}

.card div.selected .evolution li {
    height: min-content;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.727);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.715) ;
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
}

.card  div.selected  .type {
    align-items: flex-end;
    grid-row-start: 4;
    grid-column-start: 2;
    flex-direction: row;
    gap: 20px;
}

.card  div.selected .type li {
    margin: 0 auto;
    width: auto;
    height: min-content;
    padding: 5px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.76);
    font-size: 1.2em;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.545);
}

.card div.selected .stats{
    margin-bottom: 10px;
    height: 100%;
    grid-column-start: 3;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.2em;
    grid-row-start: 2;
    grid-row-end: 5;
}

.card div.selected .stats h3{
    color: green;
    padding: 0;
}

.card div.selected .stats li {
    letter-spacing: 2px;
    color: rgb(179, 98, 0);
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 10px;
    box-shadow: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    padding-top: 10px;
}

.card div.selected .stats li span {
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: rgb(124, 172, 75);
}

.card div.selected img.gif {
    padding: 0;
    margin-left: 10px;
    height: 100px;
    width: 180px;
    border-radius: 20px 0 20px 0;
    grid-row-start: 2;
    grid-column-start: 3;
}

.card div.selected svg {
    cursor: pointer;
    font-size: 2em;
    fill: white;
    z-index: 2;
}

.card div.selected svg:hover {
    fill: rgb(188, 0, 0);
    transform: scale(1.1);
}

.Grama {
    background-color: green;
}
.Veneno {
    background-color: purple;
}
.Fogo {
    background-color: orange;
}
.Voador {
    background-color: skyblue;
}
.Agua {
    background-color: blue;
}
.Inseto {
    background-color: greenyellow;
}
