.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:220px;
    flex-wrap: wrap;
    color: white;
}

.card ul {
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.card ul img {
    cursor: pointer;
    opacity: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.card ul img:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.249);
    border: 2px solid rgb(255, 255, 255);
    transition: .5s ease-in-out;
    transform: scale(1.05);
}
 
.card div {
    margin-top: 175px;
    cursor: pointer;
    width: 200px;
    height: 300px;
    border: 8px double rgba(209, 0, 0, 0.767);
    outline: 5px solid white;
    border-radius: 5px;
    background: url(../img/0135025fbfab1211013ee04d679120.jpg) center center fixed;
    background-size: 210px 300px;
    box-shadow: 0 0 20px 10px rgba(254, 254, 254, 0.361);
}

.card div:hover {
    transition: .5 step-end;
    box-shadow: 0 0 20px 10px rgba(254, 254, 254, 0.519);
}

.card div div,
.card div h3,
.card div .gif,
.card div h1,
.card div ul,
.card div p {
    display: none;
}

.card h1 {
    text-transform: capitalize;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(6, 6, 6);
    font-size: 1em;
    text-align: center;
}

.card span{
    font-weight: bolder;
    color: white;
}

.card img.png {
    position: relative;
    top: 40px;
    align-items: center;
    width: 100%;
    height: auto;
    transition: .5s ease-in-out;
}

section {
    padding: 50px;
    width: 968px;
    height: 568px;
    border-radius: 20px 0 20px 0;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/pokedex-open-dark.jpg) center center no-repeat fixed;
    background-size: cover;
    box-shadow: 0 0 50px 10px rgba(41, 181, 209, 0);
}

.card  div.selected{ 
    cursor: auto;
    padding: 80px 40px;
    margin-top: 43px;
    position: fixed;
    width: 968px;
    height: 568px;
    display: grid;
    grid-template-columns: 300px 300px 268px;
    grid-template-rows: 60px 264px 80px 100px 60px;
    box-shadow: none;
    z-index: 2;
    border-radius: 20px 0 20px 0;
    border: none;
    background: transparent;
    border: 10px ridge rgb(0, 0, 0);
    outline: 15px outset rgb(0, 150, 167);
    /*outline-offset: 5px ;*/
    background-color: rgba(1, 136, 185, 0.097);
    backdrop-filter: blur(10px);
}

.card div.selected div,
.card div.selected h3,
.card div.selected img.gif,
.card  div.selected  h1,
.card  div.selected  ul,
.card  div.selected  p {
    padding: 10px;
    font-weight: bolder;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
}

.card div.selected img.png {
    top: auto;
    border-bottom: none;
    border-left: none;
    border-top: none;
    grid-row-start: 2;
    grid-column-start: 2;
    opacity: 100%;
    width: 300px;
    height: 264px;
}

.card div.selected div{
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
    width: min-content;
    height: min-content;
    border: none;
    border-radius: 50%;
    position: fixed;
    top: -180px;
    right: 0px;
    border: none;
    outline: none;
}
.card div.selected svg {
    cursor: pointer;
    font-size: 2em;
    fill: white;
    z-index: 2;
}

.card div.selected svg:hover {
    fill: rgb(188, 0, 0);
    transform: scale(1.1);
}

.card  div.selected  h1 {
    text-shadow: 1px 1px black;
    border: none;
    align-items: center;
    color: rgb(4, 122, 0);
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 2em;
}

.card  div.selected  h1 span {
    color: black;
    font-weight: bolder;
    margin-left: 10px;
}

.card  div.selected  ul {
    position: relative;
    bottom: auto;
    grid-row-start: 3;
    grid-column-start: 2;
    flex-direction: row;
    gap: 40px;
}

.card  div.selected li {
    width: auto;
    height: min-content;
    padding: 5px 20px;
    border-radius: 8px;
    border: .5px solid white;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.76);
    font-size: 1.2em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.545);
}

.card div.selected .stats{
    grid-column-start: 3;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 5;
    position: relative;
    bottom: 0%;
    gap: 0;
}

.card div.selected .stats li {
    letter-spacing: 2px;
    color: rgb(179, 98, 0);
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 10px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.card div.selected .stats li span {
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: rgb(124, 172, 75);
}

.card div.selected .stats h3{
    padding: 0;
}

.card  div.selected  p {
    border-radius: 0 0 0 10px;
    text-align: justify;
    font-size: 1em;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 28px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    z-index: 1;
}

.card div.selected h3 {
    padding: 0;
    padding-left: 10px;
    align-items: self-end;
    color: rgb(0, 186, 59);
    grid-row-start: 1;
    grid-column-start: 1;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.375);
}

.card div.selected img.gif {
    padding: 0;
    margin-left: 10px;
    height: 140px;
    width: 250px;
    border-radius: 20px 0 20px 0;
    grid-row-start: 1;
    grid-column-start: 3;
}

.Grama {
    background-color: green;
}
.Veneno {
    background-color: purple;
}
.Fogo {
    background-color: orange;
}
.Voador {
    background-color: skyblue;
}
.Agua {
    background-color: blue;
}
.Inseto {
    background-color: greenyellow;
}
