@media (max-width: 500px) {
	.btn-hide-show-search-region {
		position: absolute;
		right: -40px;
		height: 30px;
		width: 100px;
		border-radius: 15px 15px 0 0;
		gap: 2.5px;
	}

	.btn-hide-show-search-region svg {
		font-size: 1rem;
	}
}
