.Navbar {
    width: 100%;

    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
    top: 20px;

    z-index: 2;

    gap: 20px;
}

.menu{
    display: none;
}

.Navbar div {
    display: none;
}

.logo {
    position: relative;
    top: 5px;
    left: 10px;
    
    margin-right: 20px;

    width: auto;
    height: 60px;
}


.Navbar li a {
    height: max-content;
    width: auto;

    font-size: .8em;
}

.Navbar li a:hover {
    margin-bottom: -3px;
    border-bottom: 3px solid var(--color-text-border-hover);
}

.Navbar a {
    padding: 0;

    font-weight: bolder;

    letter-spacing: 1px;

    text-transform: uppercase;

    font-size: .8em;

    text-shadow: 1px 1px var(--color-box-shadow);

    color: var(--color-text);
}

.Navbar a:hover {
    color: var(--color-text-border-hover);
}

.Navbar .selected a:hover,
.Navbar .selected a{
    margin-bottom: -3px;

    border-bottom: 3px solid var(--color-text-border-hover);
}

.Navbar .selected a {
    color: var(--color-text-border);
}

@media (max-width: 893px) {
    .Navbar:not(.active) {
        display: none;
    }
    
    .menu {
        display: block;
    }

    .Navbar.active {
        display: flex;
        flex-direction: column;

        position: fixed;
        left: 60vw;
        top: 150px;

        gap: 25px;

        z-index: 4;
    } 
    
    .Navbar.active li a {
        padding: 10px;
        padding-left: 10vw;
    }

    .Navbar.active li a:hover {
        margin-bottom: 0;
    
        border-bottom: none;

        border-left: 5px solid var(--color-text-border-hover);
    }

    .Navbar.active .selected a:hover,
    .Navbar.active .selected a {
        margin-bottom: 0;
    
        border-bottom: none;
    
        border-left: 5px solid var(--color-text-border-hover);
    }

    .menu.active {    
        width: 40vw;
        height: 100vh;
    
        position: fixed;
        right: 0px;
        top: 0px;
    
        background-color: var(--bg-menu);
        border-left: 2px solid var(--border-left-menu);
    }

    i {
        position: absolute;
        top: 10px;
        right: 20px;

        height: 25px;

        cursor: pointer;

        z-index: +5;
    }

    i > svg {
        font-size: 2.5em;

        fill: white;
        stroke: white;
    }
    
}

