.seach_Container {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 2;
    height: min-content;
    width: min-content;
}

.seach_Container .pokeboll {
    height: 50px;
    width: 50px;
    position:absolute;
    top: 0px;
    left: 250px;
    border: 2px solid rgb(89, 89, 89);
    border-radius: 50%;
}

.seach_Container label {
    font-size: 2em;
    color: rgb(0, 0, 0);
    padding-right: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.seach_Container input{
    border: 3px solid rgb(70, 70, 70);
    text-shadow: 1px 1px solid rgb(248, 248, 248);
    outline: none;
    font-weight: bold;
    height: 52px;
    width: 300px;
    padding: 0 60px;
    font-size: 1.2em;
    border-radius: 30px;
    z-index: 0;
}

.button_More {
    background-color: rgba(0, 0, 0, 0.286);
    border-radius: 50%;
    border: none;
    height: 70px;
    width: 70px;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.button_More:hover {
    bottom: -10px;
    transition: .5s ease;
    background-color: rgba(158, 208, 255, 0.83);
    box-shadow: 0 0 10px 10px rgba(158, 198, 255, 0.518);
}

.button_More svg{
    border-radius: 50%;
    background-color: white;
    fill: blue;
    opacity: 50%;
    font-size: 3em;
}


@media (max-width: 824px) {
    .seach_Container {
        top: 30px;
        left: 0px;
    }

    .seach_Container .pokeboll {
        height: 50px;
        width: 50px;
        position:absolute;
        top: 0px;
        left: 0px;
        border: 2px solid rgb(89, 89, 89);
    }

    .seach_Container label {
        top: 12px;
        left: 205px;
        font-size: 1.8em;
    }

    .seach_Container input{
        height: 52px;
        width: 250px;
        padding: 0 65px;
        font-size: 1.1em;
    }
}

@media (max-width: 693px) {
    .seach_Container {
        top: 80px;
        left: 0px;
    }

    .seach_Container .pokeboll {
        height: 40px;
        width: 40px;
        position:absolute;
        top: 0px;
        left: 0px;
        border: 2px solid rgb(89, 89, 89);
    }

    .seach_Container label {
        top: 8px;
        left: auto;
        right: 6px;
        font-size: 1.8em;
    }

    .seach_Container input{
        height: 42px;
        width: 40vw;
        padding: 0 45px;
        font-size: 1em;
    }
}

@media (max-width: 693px) {
    .seach_Container {
        top: 60px;
    }
}

@media (max-width: 593px) {
    .seach_Container input{
        width: 50vw;
    }
}

@media (max-width: 493px) {
    .seach_Container input{
        width: 60vw;
    }
}