.Container {
    overflow-x: hidden;
}

.Container.Navbar_Container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
}

.Container.Two_Generation,
.Container.One_Generetion{
    height: 100vh;
    background: center center no-repeat fixed;
    background-size: cover;
}

.Container.One_Generetion {
    background-image: url(../img/wp11079715-pokemon-pokeball-wallpapers.jpg);
}
