.Container.Navbar_Container {
    position: absolute;
    display: flex;
    top: 0px;
    width: calc(100vw - 15px);
    height: 70px;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.Container.Navbar_Container div {
    display: none;
}

.Container.Navbar_Container svg {
    cursor: pointer;
    position: fixed;
    right: 40px;
    padding: 5px;
    top: 20px;
    font-size: 2.8em;
    stroke: white;
    fill: white;
}

.Container.Home h1{
    width: max-content;
    position: relative;
    padding: 0px 10px;
    top: 120px;
    color: white;
    padding-bottom: 10px;
    border-radius: 15px;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: bolder;
}

.Container.Home ul {
    top: 150px;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.Container.Home a {
    cursor: pointer;
    backdrop-filter: blur(10px);
    flex-direction: column;
    padding: 0px 10px;
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.518);
    border: 5px double rgb(0, 208, 255);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.697);
    border-radius: 5px;
}

.Container.Home a:hover {
    border: 8px double rgb(0, 208, 255);
    transform: scale(1.01);
    transition: .5s step-end;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.697);
}

.Container.Home h3 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px black;
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0%;
}

.Container.Home img {
    padding-bottom: 30px;
    width: 100%;
    height: auto;
}

.Container.Home div img {
    padding-bottom: 0px;
}

.Container.Home .container_blockade,
.Container.Home .selected{
    display: none;
}

.Container.Navbar_Container svg:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.Container.Navbar_Container img {
    position: relative;
    top: 15px;
    left: 10px;
    margin-right: 20px;
    width: auto;
    height: 60px;
    mix-blend-mode: multiply;
}

.Container.Nine_Generation,
.Container.Eight_Generation,
.Container.Seven_Generation,
.Container.Six_Generation,
.Container.Five_Generation,
.Container.Four_Generation,
.Container.Three_Generation,
.Container.Two_Generation,
.Container.One_Generetion,
.Container.Home{
    overflow-x: hidden;
    height: 100vh;
    background: url(../img/wp11079715-pokemon-pokeball-wallpapers.jpg) center center no-repeat fixed;
    background-size: cover;
}

.Container.Nine_Generation,
.Container.Eight_Generation,
.Container.Seven_Generation,
.Container.Six_Generation,
.Container.Five_Generation,
.Container.Four_Generation,
.Container.Three_Generation,
.Container.Two_Generation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.Container.Nine_Generation h1,
.Container.Eight_Generation h1,
.Container.Seven_Generation h1,
.Container.Six_Generation h1,
.Container.Five_Generation h1,
.Container.Four_Generation h1,
.Container.Three_Generation h1,
.Container.Two_Generation h1 {
    text-shadow: 2px 2px black;
    border-bottom: 5px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

@media (max-width: 1124px) {
    .Container.Navbar_Container {
        height: 100px;
    }
    .Container.Navbar_Container img {
        height: 90px;
        margin-right: 0px;
        top: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .Container.Home h1,
    .Container.Home ul {
        justify-content: center;
    }

    .Container.Home a {
        width: 25%;
    }
}

@media (max-width: 993px) {
    .Container.Navbar_Container img {
        height: 70px;
    }
}

@media (max-width: 893px) {
    .Container.Navbar_Container img {
        height: 50px;
    }
}

@media (max-width: 824px) {
    .Container.Navbar_Container {
        height: 90px;
    }

    .Container.Navbar_Container img {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        height: 65px;
        z-index: 2;
    }

    .Container.Navbar_Container div {
        display: block;
        z-index: 1;
    }
}

@media (max-width: 693px) {
    .Container.Home ul {
        gap: 25px;
    }

    .Container.Navbar_Container {
        height: 120px;
    }

    .Container.Navbar_Container img {
        top: 5px;
        left: 0%;
        transform: translateX(0%);
        height: 55px;
    }
    
    .Container.Navbar_Container svg {
        right: 20px;
        top: 20px;
    }
    
    .Container.Home h3 {
        font-size: 1em;
    }
}

@media (max-width: 593px) {
    .Container.Navbar_Container {
        height: 100px;
    }
    .Container.Navbar_Container img {
        height: 45px;
    }
    .Container.Navbar_Container svg {
        right: 10px;
        top: 10px;
    }
}
