.Container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Container.Navbar_Container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 20px;
}

.Container.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:220px;
    flex-wrap: wrap;
}

.Container.card ul {
    position: fixed;
    bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.Container.card ul img {
    cursor: pointer;
    opacity: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.561);
    border: 2px solid rgb(255, 255, 255);
    transition: .5s ease-in-out;
}

.Container.card ul img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.05);
}
 
.Container.card div {
    margin-top: 175px;
    cursor: pointer;
    width: 200px;
    height: 300px;
    border: 4px solid rgba(0, 0, 0, 0.767);
    border-radius: 8px;
    position: relative;
    opacity: 90%;
    background: url(../img/pokedex-closed.jpeg) center center fixed;
    background-size: 210px 300px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.467);
}

.Container.card div:hover {
    transition: .5s ease-in-out;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.118);
    border: 4px solid rgb(255, 255, 255);
}

.Container.card div h1,
.Container.card div ul,
.Container.card div p {
    display: none;
}

.Container.card h1 {
    text-transform: capitalize;
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(6, 6, 6);
    font-size: 1em;
    text-align: center;
}

.Container.card span{
    font-weight: bolder;
    color: white;
}

.Container.card img {
    opacity: 90%;
    position: relative;
    top: 40px;
    align-items: center;
    width: 100%;
    height: auto;
    transition: 1s ease-in-out;
}

.Container.card img:hover {
    opacity: 100%;
}

.Container section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.729);
    top: 0px;
    z-index: 1;
}

.Container.Two_Generation,
.Container.One_Generetion{
    height: 100vh;
    background: center center no-repeat fixed;
    background-size: cover;
}

.Container.One_Generetion {
    background-image: url(../img/background-light.jpg);
}