:root {
    --color-type-Grama: green;

    --color-type-Veneno: purple;

    --color-type-Fogo: orange;

    --color-type-Voador: rgb(233, 233, 233);

    --color-type-Agua: blue;

    --color-type-Inseto: greenyellow;

    --color-type-Normal: rgb(129, 123, 112);

    --color-type-Eletrico: yellow;

    --color-type-Terra: rgb(159, 104, 9);

    --color-type-Pisquico: palevioletred;

    --color-type-Gelo: skyblue;

    --color-type-Rocha: rgb(97, 63, 0);

    --color-type-Lutador: rgb(135, 0, 0);

    --color-type-Fada: rgb(255, 202, 211);

    --color-type-Metal: gray;

    --color-type-Fantasma: rgb(86, 61, 95);

    --color-type-Obscuro: rgb(57, 58, 126);

    --color-type-Dragon: rgb(1, 2, 80);
}

.Grama {
    background-color: var(--color-type-Grama);
}
.Veneno {
    background-color: var(--color-type-Veneno);
}
.Fogo {
    background-color: var(--color-type-Fogo);
}
.Voador {
    background-color: var(--color-type-Voador);
}
.Agua {
    background-color: var(--color-type-Agua);
}
.Inseto {
    background-color: var(--color-type-Inseto);
}
.Normal {
    background-color: var(--color-type-Normal);
}
.Eletrico {
    background-color: var(--color-type-Eletrico);
}
.Terra {
    background-color: var(--color-type-Terra);
}
.Pisquico {
    background-color: var(--color-type-Pisquico);
}
.Gelo {
    background-color: var(--color-type-Gelo);
}
.Rocha {
    background-color: var(--color-type-Rocha);
}
.Lutador {
    background-color: var(--color-type-Lutador);
}
.Fada {
    background-color: var(--color-type-Fada);
}
.Metal {
    background-color: var(--color-type-Metal);
}
.Fantasma {
    background-color: var(--color-type-Fantasma);
}
.Obscuro {
    background-color:var(--color-type-Obscuro);
}
.Dragon {
    background-color: var(--color-type-Dragon);
}