body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    max-width: 1350px;
    background: url('../imagens/claro.jpg') center center no-repeat fixed;
    background-size: cover;
}

.modo-escuro{
    background: url('../imagens/escuro.jpg')center center no-repeat fixed;
    background-size: cover;
}


header{
    height: 150px;   
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.logo, 
.imagem-botao{
    display: flex;
    width: 50px;
}

#botao-alterar-tema, 
.logo,
.imagem-botao{
    background: none;
    border: none;
    cursor: pointer;
}


header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover,
main .redes:hover{
    transform: scale(1.01);
    cursor: pointer;
}


main{
    padding: 25px;
}

.listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.cartao-pokemon{
    color: rgb(255, 255, 255);
    background: url('../imagens/cartao-fundo.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 9px;
    border: 2px solid;
    width: 220px;
    height: 350px;
    display: flex;
    padding-bottom:15px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 4px 5px 6px 4px rgba(0, 0, 0, 0.424);
}
.modo-escuro .cartao-pokemon{
    background-color: rgb(4, 112, 112);
}

.cartao-pokemon .informaçoes{
    display: flex;
    border: 1px solid;

}
.modo-escuro .cartao-pokemon:hover{
    background-color: #00026e;
}

.cartao-pokemon:hover{
    background-color: #0e46ff;
}


.cartao-pokemon .informaçoes{
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.listagem-pokemon .cartao-pokemon .imagens{
    width: 218px;
    height: 250px;
}

.listagem-pokemon .cartao-pokemon .select{
    background-size: cover;
    height: 100vw;
    border: 1px solid rgb(255, 251, 251);
}

.cartao-pokemon .tipos{  
    display: flex;
    gap: 15px;
    
}

.cartao-pokemon .tipo{
    border-radius: 5px;
    padding:  4px 8px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.364);
}   

p,
.informaçoes{
    background-color: rgba(0, 0, 0, 0.301);
}

.grama{
    background-color: #7ac74c;
}

.fogo{
    background-color: #ee8130;
}

.veneno{
    background-color: #df67ddfb;
}

 .agua{
    background-color: #6390f0;
 }

 .inseto{
    background-color: #a6b91a;
 }

 .voador{
    background-color: #979797;
 }

.descriçao{
    display: none;
    text-align: justify;
    width: 205px;
    max-height: 130px;
    overflow-y: scroll;
    font-size: 14px;
    padding: 8px;
}