body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    max-width: 1280px;
    background: url('../imagens/claro.jpg') center center no-repeat fixed;
    background-size: cover;
}

.modo-escuro{
    background: url('../imagens/escuro.jpg')center center no-repeat fixed;
    background-size: cover;
}


header{
    height: 150px;   
    display: flex;
    padding: 10px;
    justify-content: space-between;
}


header .logo, .imagem-botao{
    display: flex;
    width: 50px;
}

header #botao-alterar-tema, .logo, .imagem-botao{
    background: none;
    border: none;
    cursor: pointer;
}


header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover,
main .redes:hover{
    transform: scale(1.05);
    cursor: pointer;
}


main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

main .cartao-pokemon{
    color: rgb(255, 255, 255);
    background: url('../imagens/cartao-fundo.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 6px;
    border: 2px solid;
    width: 220px;
    height: 350px;
    display: flex;
    padding:2px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 4px 5px 6px 4px rgba(0, 0, 0, 0.424);
}
.modo-escuro .cartao-pokemon{
    background-color: rgb(4, 112, 112);
}

main .cartao-pokemon .informaçoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 10px;

}
.modo-escuro .cartao-pokemon:hover{
    background-color: #00026e;
}

main .cartao-pokemon:hover{
    background-color: #0e46ff;
}


main .cartao-pokemon .informaçoes span{
    padding: 4px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.cartao-pokemon .img{
    width: 200px;
    height: 160px;
    
}

main .cartao-pokemon .tipos{  
    display: flex;
    gap: 15px;
    
}

main .cartao-pokemon .tipo{
    border-radius: 5px;
    padding:  4px 8px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.364);
}   

p,span{
    border-radius: 5px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.301);
}

.grama{
    background-color: #7ac74c;
}

.fogo{
    background-color: #ee8130;
}

.veneno{
    background-color: #df67ddfb;
}

 .agua{
    background-color: #6390f0;
 }

 .inseto{
    background-color: #a6b91a;
 }

 .voador{
    background-color: #979797;
 }

 main .descriçao{
    width: 180px;
    max-height: 50px;
    overflow-y: scroll;
    font-size: 12px;
    padding-right: 1px;
 }
