/*Scroll ou rolador do site*/
*::-webkit-scrollbar{
    width: 15px;
}

*::-webkit-scrollbar-track{
    background: #14151510;
}

*::-webkit-scrollbar-thumb{
    background-color: #f22d31;
    border-radius: 10px;
    border: 2px solid #0a4d4d;
}